.form_icon {
    position: absolute;
    top: 50%;
    left: 14px;
    width: 18px;
    height: 18px;
    fill: var(--secondary-txt-cl);
    transform: translateY(-50%);

    .form_input:focus-within+& {
        fill: var(--blue-color);
    }

    .form_input:focus+&,
    .form_input:hover+& {
        fill: var(--blue-color);
    }
}